# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\Renan\OneDrive\Material de Estudo Ciências da Computação\P5\Engenharia de Software I\Projeto Controle de Feira\Projeto IntelliJ\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
